/* TransferFunds.css */
.transfer-funds {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #0074cc;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h2 {
    font-size: 36px;
    margin: 0;
    text-align: center;
  }
  
  header p {
    font-size: 18px;
    color: aliceblue;
  }